*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out
go.work
out.bin
scratch.go
dictionary.*
/scratch
/lib
/libs
/dump
/models
/narrative-debugger
/debugger
/narrative
/temp

.tts-processing.lock
.tts-playback.lock
coverage.txt
narrative.log
