*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out
go.work
packs
out.bin
scratch.go
book.gob
dictionary.*
/scratch
/lib
/dump
/models
/narrative-debugger
/debugger

.tts-processing.lock
.tts-playback.lock
rtts-s
tts-s
dict-s
playback-s
coverage.txt
